*{
	margin: 0;
	padding: 0;
	position: relative;
	list-style:none;
	text-decoration: none;
}
body{
	font-family: "Helvetica Neue","微软雅黑",sans-serif;
	width: 100%;
	background: #FFFFFF;
}
img{
	border:none;
}
@mixin zuoyou{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
@mixin shangxia{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
@mixin cube($size){
	width: $size;
	height: $size;
}
@mixin matrix($w,$h){
	width: $w;
	height:$h;
}
@mixin circle($size){
	width: $size;
	height: $size;
	border-radius: 50%;
}
@mixin gai{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}
@mixin userem($size){
	$list:800px,414px,412px,384px,375px,360px,320px;
	@each $i in $list{
		@media screen and (max-width: #{$i}){
			html{
				font-size: 100px*($i/$size);
			}
		}
	}
}
@include userem(1080px);
.header{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:1.44rem;
	background: #393A3E;
	padding-left:0.42rem;
	padding-right:0.42rem;
	box-sizing:border-box;
	h6{
		color:#FFFFFF;
		font-size: 0.5rem;
		font-style: normal;
		font-weight: normal;
		line-height: 1.44rem;
		float: left;
	}
	.sousuo{
		width: 0.61rem;
		height:0.63rem;
		background: url(../img/1.png);
		background-size:100%;
		@include shangxia;
		left: 7.5rem;
	}
	.jiahao{
		width: 0.62rem;
		height:0.63rem;
		background: url(../img/2.png);
		background-size:100%;
		@include shangxia;
		right:0.7rem;
	}

}
//index
.content{
	position: fixed;
	top:1.44rem;
	left:0;
	bottom:1.6rem;
	width: 100%;
	overflow-y: scroll;
	.content-inner{
		width: 100%;
		li{
			width:100%;
			height:1.9rem;
			border-bottom:0.01rem solid #EEEEEE;
			padding-left: 0.42rem;
			padding-right:0.42rem;
			box-sizing:border-box;
			.touxiang{
				width: 1.45rem;
				height:1.45rem;
				@include shangxia;
			}
			.touxiang1{
				background: url(../img/tou1.jpg);
				background-size:100%;
			}
			.touxiang2{
				background: url(../img/tou2.jpg);
				background-size:100%;
			}
			.touxiang3{
				background: url(../img/5.png);
				background-size:100%;
			}
			.touxiang4{
				background: url(../img/6.png);
				background-size:100%;
			}
			.touxiang5{
				background: url(../img/7.png);
				background-size:100%;
			}
			.touxiang6{
				background: url(../img/8.png);
				background-size:100%;
			}
			.touxiang7{
				background: url(../img/9.png);
				background-size:100%;
			}
			.touxiang8{
				background: url(../img/tou3.jpg);
				background-size:100%;
			}
			.touxiang9{
				background: url(../img/tou4.jpg);
				background-size:100%;
			}
			.touxiang10{
				background: url(../img/tou5.jpg);
				background-size:100%;
			}
			.touxiang11{
				background: url(../img/tou6.jpg);
				background-size:100%;
			}
			.touxiang12{
				background: url(../img/tou7.jpg);
				background-size:100%;
			}
			.kuang{
				width:7rem;
				height: 1.2rem;
				@include shangxia;
				left:2.2rem;
				.xingming{
					width: 100%;
					display: block;
					font-size: 0.5rem;
					color: #333333;
				}
				.duihua{
					width:100%;;
					display: block;
					font-size: 0.38rem;
					color: #9F9F9F;
					margin-top: 0.05rem;
				}
			}
			.time{
				width:1rem;
				height:0.4rem;
				position: absolute;
				left:9.1rem;
				top:0.4rem;
				font-size: 0.4rem;
				color: #B7B7B7;
			}
		}
	}
}
.foot{
	background: #FCFCFC;
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	height:1.6rem;
	border-top:0.02rem solid #D1D1D1;
	li{
		width: 25%;
		height: 1.4rem;
		float: left;
		margin-top: 0.15rem;
	}
	.foot1{
		.tupian{
			width: 0.79rem;
			height:0.73rem;
			background: url(../img/10.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #45C018;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot2{
		.tupian{
			width: 0.85rem;
			height:0.73rem;
			background: url(../img/11.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot3{
		.tupian{
			width: 0.78rem;
			height:0.73rem;
			background: url(../img/12.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot4{
		.tupian{
			width: 0.7rem;
			height:0.73rem;
			background: url(../img/13.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
}

//tongxunlu
.tongxunlucontent{
	position: fixed;
	top:1.44rem;
	left:0;
	bottom:1.6rem;
	width: 100%;
	overflow-y: scroll;
	.content-inner{
		width: 100%;
		li{
			height:1.55rem;
			border-bottom:0.01rem solid #EDEDED;
			margin-left:0.42rem;
			margin-right:0.42rem;
			.touxiang{
				width: 1.08rem;
				height:1.08rem;
				@include shangxia;
			}
			.touxiang1{
				background: url(../img/21.png);
				background-size:100%;
			}
			.touxiang2{
				background: url(../img/22.png);
				background-size:100%;
			}
			.touxiang3{
				background: url(../img/22.png);
				background-size:100%;
			}
			.touxiang4{
				background: url(../img/23.png);
				background-size:100%;
			}
			.touxiang5{
				background: url(../img/tou7.jpg);
				background-size:100%;
			}
			.touxiang6{
				background: url(../img/tou9.jpg);
				background-size:100%;
			}
			.touxiang7{
				background: url(../img/26.png);
				background-size:100%;
			}
			.touxiang8{
				background: url(../img/27.png);
				background-size:100%;
			}
			.touxiang9{
				background: url(../img/tou8.jpg);
				background-size:100%;
			}
			.touxiang10{
				background: url(../img/tou11.jpg);
				background-size:100%;
			}
			.touxiang11{
				background: url(../img/tou5.jpg);
				background-size:100%;
			}
			.touxiang12{
				background: url(../img/tou12.jpg);
				background-size:100%;
			}
			.touxiang13{
				background: url(../img/tou14.jpg);
				background-size:100%;
			}
			.zi{
				width:8rem;
				height:0.55rem;
				@include shangxia;
				left:1.44rem;
				font-size: 0.5rem;
				color: #2B2B2B;
			}
		}
		.huitiao{
			width: 100%;
			height:0.66rem;
			background: #EBEBEB;
			color: #888888;
			font-size: 0.4rem;
			padding:0 0.42rem;
			box-sizing:border-box;
			line-height:0.66rem;
		}
	}
}
.tongxunlufoot{
	background: #FCFCFC;
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	height:1.6rem;
	border-top:0.02rem solid #D1D1D1;
	li{
		width: 25%;
		height: 1.4rem;
		float: left;
		margin-top: 0.15rem;
	}
	.foot1{
		.tupian{
			width: 0.78rem;
			height:0.66rem;
			background: url(../img/28.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot2{
		.tupian{
			width: 0.81rem;
			height:0.66rem;
			background: url(../img/29.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #45C018;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot3{
		.tupian{
			width: 0.78rem;
			height:0.73rem;
			background: url(../img/12.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot4{
		.tupian{
			width: 0.7rem;
			height:0.73rem;
			background: url(../img/13.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
}

//发现
.faxiancontent{
	position: fixed;
	top:1.44rem;
	left:0;
	bottom:1.6rem;
	width: 100%;
	overflow-y: scroll;
	background: #EBEBEB;
	.content-inner{
		width: 100%;
		li{
			background: #FFFFFF;
			height:1.44rem;
			border-bottom:0.01rem solid #EDEDED;
			padding:0 0.42rem;
			box-sizing:border-box;
			.touxiang{
				width: 0.68rem;
				height:0.68rem;
				@include shangxia;
			}
			.touxiang1{
				background: url(../img/31.png);
				background-size:100%;
			}
			.touxiang2{
				background: url(../img/32.png);
				background-size:100%;
			}
			.touxiang3{
				background: url(../img/33.png);
				background-size:100%;
			}
			.touxiang4{
				background: url(../img/34.png);
				background-size:100%;
			}
			.touxiang5{
				background: url(../img/35.png);
				background-size:100%;
			}
			.touxiang6{
				background: url(../img/36.png);
				background-size:100%;
			}
			.zi{
				width:8rem;
				height:0.55rem;
				@include shangxia;
				left:1.44rem;
				font-size: 0.5rem;
				color: #2B2B2B;
			}
		}
		.huitiao{
			width: 100%;
			height:0.6rem;
			background: #EBEBEB;
			color: #888888;
			font-size: 0.4rem;
			padding:0 0.42rem;
			box-sizing:border-box;
			line-height:0.66rem;
		}
	}
}
.faxianfoot{
	background: #FCFCFC;
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	height:1.6rem;
	border-top:0.02rem solid #D1D1D1;
	li{
		width: 25%;
		height: 1.4rem;
		float: left;
		margin-top: 0.15rem;
	}
	.foot1{
		.tupian{
			width: 0.78rem;
			height:0.66rem;
			background: url(../img/28.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot2{
		.tupian{
			width: 0.81rem;
			height:0.66rem;
			background: url(../img/11.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot3{
		.tupian{
			width: 0.78rem;
			height:0.73rem;
			background: url(../img/37.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #45C018;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot4{
		.tupian{
			width: 0.7rem;
			height:0.73rem;
			background: url(../img/13.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
}

//我
.wocontent{
	position: fixed;
	top:1.44rem;
	left:0;
	bottom:1.6rem;
	width: 100%;
	overflow-y: scroll;
	background: #EBEBEB;
	.content-inner{
		width: 100%;
		li{
			background: #FFFFFF;
			height:1.44rem;
			border-bottom:0.01rem solid #EDEDED;
			padding:0 0.42rem;
			box-sizing:border-box;
			.touxiang{
				width: 0.77rem;
				height:0.72rem;
				@include shangxia;
			}
			.touxiang2{
				background: url(../img/41.png);
				background-size:100%;
			}
			.touxiang3{
				background: url(../img/42.png);
				background-size:100%;
			}
			.touxiang4{
				background: url(../img/43.png);
				background-size:100%;
			}
			.touxiang5{
				background: url(../img/44.png);
				background-size:100%;
			}
			.touxiang6{
				background: url(../img/45.png);
				background-size:100%;
			}
			.touxiang7{
				background: url(../img/46.png);
				background-size:100%;
			}

			.zi{
				width:8rem;
				height:0.55rem;
				@include shangxia;
				left:1.44rem;
				font-size: 0.5rem;
				color: #2B2B2B;
			}
		}
		.huitiao{
			width: 100%;
			height:0.6rem;
			background: #EBEBEB;
			color: #888888;
			font-size: 0.4rem;
			padding:0 0.42rem;
			box-sizing:border-box;
			line-height:0.66rem;
		}
		.wode{
			width:100%;
			height:2.4rem;
			background: #FFFFFF;
			padding:0 0.42rem;
			box-sizing:border-box;
			.touxiang1{
				width: 1.96rem;
				height:1.96rem;
				background: url(../img/tou10.jpg);
				background-size:100%;
				@include shangxia;
			}
			.kuang{
				@include shangxia;
				left:2.88rem;
				width:4.8rem;
				height:1.26rem;
				.xingming{
					font-size: 0.5rem;
					color: #2C2C2C;
				}
				.haoma{
					font-size: 0.4rem;
					color: #989898;
					margin-top: 0.05rem;
				}
			}
			.erweima{
				width: 0.57rem;
				height:0.57rem;
				@include shangxia;
				right:1.3rem;
				background: url(../img/48.png);
				background-size:100%;
			}
		}
	}
}
.wofoot{
	background: #FCFCFC;
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	height:1.6rem;
	border-top:0.02rem solid #D1D1D1;
	li{
		width: 25%;
		height: 1.4rem;
		float: left;
		margin-top: 0.15rem;
	}
	.foot1{
		.tupian{
			width: 0.78rem;
			height:0.66rem;
			background: url(../img/28.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot2{
		.tupian{
			width: 0.81rem;
			height:0.66rem;
			background: url(../img/11.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot3{
		.tupian{
			width: 0.78rem;
			height:0.73rem;
			background: url(../img/12.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #989898;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
	.foot4{
		.tupian{
			width: 0.7rem;
			height:0.73rem;
			background: url(../img/47.png);
			margin: 0 auto;
			background-size:100%;
		}
		.wenzi{
			font-size: 0.4rem;
			color: #45C018;
			text-align: center;
			margin-top: 0.05rem;
		}
	}
}

.jia{
	display: none;
	font-size: 0.5rem;
	position: fixed;
	top:1.44rem;
	left:4.44rem;
	width: 6rem;
	background: #393A3E;
	li{
		width: 100%;
		height:1.44rem;
		border-bottom: 0.01rem solid #282B2F;
	}
	.tu1{
		width:0.82rem;
		height:0.76rem;
		background: url(../img/51.png)no-repeat;
		@include shangxia;
		background-size:100%;
		margin-left: 0.42rem;
	}
	.tu2{
		width:0.82rem;
		height:0.76rem;
		background: url(../img/52.png)no-repeat;
		@include shangxia;
		background-size:100%;
		margin-left: 0.42rem;
	}
	.tu3{
		width:0.82rem;
		height:0.76rem;
		background: url(../img/53.png)no-repeat;
		@include shangxia;
		background-size:100%;
		margin-left: 0.42rem;
	}
	.tu4{
		width:0.82rem;
		height:0.76rem;
		background: url(../img/54.png)no-repeat;
		@include shangxia;
		background-size:100%;
		margin-left: 0.42rem;
	}
	.tu5{
		width:0.82rem;
		height:0.76rem;
		background: url(../img/55.png)no-repeat;
		@include shangxia;
		background-size:100%;
		margin-left: 0.42rem;
	}
	span{
		color:#FFFFFF;
		margin-left: 1.7rem;
		line-height: 1.44rem;
	}
}
.jia.chuxian{
	display: block;
}